<a href="https://colab.research.google.com/github/jahnavi-06/TRINIT_IBM_ML03/blob/main/crop_prediction_with_NPK_composition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

crop=pd.read_csv("Crop_recommendation.csv")

In [ ]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [ ]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
x= crop.iloc[:, [2,3]].values  
y= crop.iloc[:, 4].values

In [ ]:
crop['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [ ]:
features = crop[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = crop['label']

labels = crop['label']

In [ ]:
acc = []
model = []

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state =2)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

DecisionTree = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5)

DecisionTree.fit(Xtrain,Ytrain)

predicted_values = DecisionTree.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('Decision Tree')
print("DecisionTrees's Accuracy is: ", x*100)

print(classification_report(Ytest,predicted_values))

DecisionTrees's Accuracy is:  90.0
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        13
      banana       1.00      1.00      1.00        17
   blackgram       0.59      1.00      0.74        16
    chickpea       1.00      1.00      1.00        21
     coconut       0.91      1.00      0.95        21
      coffee       1.00      1.00      1.00        22
      cotton       1.00      1.00      1.00        20
      grapes       1.00      1.00      1.00        18
        jute       0.74      0.93      0.83        28
 kidneybeans       0.00      0.00      0.00        14
      lentil       0.68      1.00      0.81        23
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        26
   mothbeans       0.00      0.00      0.00        19
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        29
      papaya       1.00      0.84      0.91        19
  pigeonpeas       0.62      1.00      0.77        18
 pomegranate       1.00      1.00      1.00        17
        rice       1.00      0.62      0.77        16
  watermelon       1.00      1.00      1.00        15

    accuracy                           0.90       440
   macro avg       0.84      0.88      0.85       440
weighted avg       0.86      0.90      0.87       440

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)

predicted_values = RF.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('RF')
print("RF's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

RF's Accuracy is:  0.990909090909091
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        13
      banana       1.00      1.00      1.00        17
   blackgram       0.94      1.00      0.97        16
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        22
      cotton       1.00      1.00      1.00        20
      grapes       1.00      1.00      1.00        18
        jute       0.90      1.00      0.95        28
 kidneybeans       1.00      1.00      1.00        14
      lentil       1.00      1.00      1.00        23
       maize       1.00      1.00      1.00        21
       mango       1.00      1.00      1.00        26
   mothbeans       1.00      0.95      0.97        19
    mungbean       1.00      1.00      1.00        24
   muskmelon       1.00      1.00      1.00        23
      orange       1.00      1.00      1.00        29
      papaya       1.00      1.00      1.00        19
  pigeonpeas       1.00      1.00      1.00        18
 pomegranate       1.00      1.00      1.00        17
        rice       1.00      0.81      0.90        16
  watermelon       1.00      1.00      1.00        15

    accuracy                           0.99       440
   macro avg       0.99      0.99      0.99       440
weighted avg       0.99      0.99      0.99       440

In [ ]:
data = np.array([[104,18, 30, 23.603016, 60.3, 6.7, 140.91]])
prediction = RF.predict(data)
print(prediction)

['coffee']

In [ ]:
crop.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32        26.77  66.413269  6.780064  177.774507  coffee
2196   99  15  27        27.42  56.636362  6.086922  127.924610  coffee
2197  118  33  30        24.13  67.225123  6.362608  173.322839  coffee
2198  117  32  34        26.27  52.127394  6.758793  127.175293  coffee
2199  104  18  30        23.60  60.396475  6.779833  140.937041  coffee

In [ ]:
temp=float(input())

26.77

In [ ]:
crop['temperature']=crop['temperature'].round(2)

In [ ]:
crop.index

RangeIndex(start=0, stop=2200, step=1)

In [ ]:
o=crop.index[(crop['temperature']==temp)].tolist()
print(o)

[2195]

In [ ]:
for i in o:
  print(crop._get_value(i,'label'))

coffee

In [ ]:
rain=pd.read_csv("district wise rainfall normal.csv")

In [ ]:
rain

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

In [ ]:
rain['ANNUAL']=rain['ANNUAL'].round(2)

In [ ]:
p=input()
for j in rain['DISTRICT']:
  c=list(np.where(rain['DISTRICT']==p))
print(c)

TIRUVALLUR
[array([583])]

In [ ]:
h=[]
for i in c:
  d=int(i)
month=input()
month_rain=rain.loc[d].at[month]
print(month_rain)

JUN
68.6

In [ ]:
u=[]
for i in crop['rainfall']:
  u.append(i)
print(u)

[112.654779275, 104.6269804001, 67.8841511832, 80.0589772605, 175.686645804, 158.066294882, 80.3980431193, 69.611828886, 174.792797536, 105.91977754210001, 45.680454204, 84.766987663, 94.70451504479999, 51.198487045700006, 48.403600902899996, 24.689952066, 110.47496871999999, 142.6278388629, 149.4575638135, 107.52844239699999, 236.181113594, 50.7862189449]

In [ ]:
crop.groupby('label').mean().reset_index()

,label,N,P,K,temperature,humidity,ph,rainfall
0,apple,20.80,134.22,199.89,22.6304,92.333383,5.929663,112.654779
1,banana,100.23,82.01,50.05,27.3770,80.358123,5.983893,104.626980
2,blackgram,40.02,67.47,19.24,29.9735,65.118426,7.133952,67.884151
3,chickpea,40.09,67.79,79.92,18.8727,16.860439,7.336957,80.058977
4,coconut,21.98,16.93,30.59,27.4100,94.844272,5.976562,175.686646
5,coffee,101.20,28.74,29.94,25.5401,58.869846,6.790308,158.066295
6,cotton,117.77,46.24,19.56,23.9887,79.843474,6.912675,80.398043
7,grapes,23.18,132.53,200.11,23.8499,81.875228,6.025937,69.611829
8,jute,78.40,46.86,39.99,24.9582,79.639864,6.732778,174.792798
9,kidneybeans,20.75,67.54,20.05,20.1151,21.605357,5.749411,105.919778
10,lentil,18.77,68.36,19.41,24.5088,64.804785,6.927932,45.680454
11,maize,77.76,48.44,19.79,22.3892,65.092249,6.245190,84.766988
12,mango,20.07,27.18,29.92,31.2083,50.156573,5.766373,94.704515
13,mothbeans,21.44,48.01,20.23,28.1948,53.160418,6.831174,51.198487
14,mungbean,20.99,47.28,19.87,28.5260,85.499975,6.723957,48.403601
15,muskmelon,100.32,17.72,50.08,28.6629,92.342802,6.358805,24.689952
16,orange,19.58,16.55,10.01,22.7655,92.170209,7.016957,110.474969
17,papaya,49.88,59.05,50.04,33.7236,92.403388,6.741442,142.627839
18,pigeonpeas,20.73,67.73,20.29,27.7415,48.061633,5.794175,149.457564
19,pomegranate,18.87,18.75,40.21,21.8376,90.125504,6.429172,107.528442
20,rice,79.89,47.58,39.87,23.6897,82.272822,6.425471,236.181114
21,watermelon,99.42,17.00,50.22,25.5915,85.160375,6.495778,50.786219

In [ ]:
def findClosestElements(A, k, x):
  A=sorted(A)
  left, right = 0, len(A) - k
  while left < right:
    mid = int((left + right) / 2)
    if x - A[mid] > A[mid + k] - x:
      left = mid + 1
    else:
      right = mid
  return A[left:left + k]

In [ ]:
a = findClosestElements(u,1,month_rain)
print(a)

[67.8841511832]

In [ ]:
t=u.index(a[0])

In [ ]:
predicted=crop.loc[t].at['label']

In [ ]:
po=crop.loc[t].at['K']

In [ ]:
ni=crop.loc[t].at['N']

In [ ]:
ph=crop.loc[t].at['P']

In [ ]:
print(f'Based on the given details ,Farmers can grow {predicted} and the soil composition should be: Nitrogen ={ni}, pottasium={po}, Phosphorus={ph}')

Based on the given details ,Farmers can grow blackgram and the soil composition should be: Nitrogen =40.02, pottasium=19.24, Phosphorus=67.47